.tarefa {
  width: 100%;
  padding: 1rem 2rem;
  box-shadow: 12px 15px 15px rgba(0, 0, 0, 0.4);
  background: #25273c;
  /* font-size: 18px; */
  border-bottom: #33354a 1px solid;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.tarefa > div {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.circulo {
  border-radius: 50%;
  border: #fff 1px solid;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.remover {
  color: #f00;
  cursor: pointer;
  font-size: 12px;
  letter-spacing: 1px;
}
